//Hides an element
//----------------------------------------------------------------------
.cs-hidden
{
    visibility : hidden;
    position   : absolute !important;
    top        : -9999px !important;
    left       : -9999px !important;
}
