@import "_mixins.scss";

//Hides an element
//----------------------------------------------------------------------
.cs-hidden
{
    visibility : hidden;
    position   : absolute !important;
    top        : -9999px !important;
    left       : -9999px !important;
}


//A control
//----------------------------------------------------------------------
.cs-ctrl
{
    box-sizing: border-box;
    @include user-select(none);
}