html, body 
{
    height: 100%; width:100%; margin:0;
    background: #FFF; 
}


.pad25 {padding:25px;}


#app-nav
{
    background:#F8F8F8;
    border-bottom: 1px solid #CCC;

    a
    {
        font: 400 16px/50px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        display:inline-block;
        color: #777;
        text-decoration:none;
        padding:0 10px;

        &:hover 
        {
            color:#30D45A; cursor:pointer;
        }

        &.act { background:rgba(0,0,0,.02);  }
    }
}


label, p
{
    font: 400 14px/25px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0; margin: 0;
}

label  {display:block; margin-bottom: 4px;}
p.side 
{
    margin-left:15px; vertical-align: top; display: inline;
    span {vertical-align: top;}
}