@import "_mixins.scss";

//Select control element (Drop Down)
//------------------------------------------------------------------------------------------
.cs-select
{
    width:250px; height:24px; 
    position:relative; 
    display:inline-block;
    overflow:hidden;

    background: linear-gradient(#fff 0, #fff 45%, #fff 45%, #ccc 100%);
    box-shadow:0 0 3px rgba(0,0,0,.3);
    border:solid 1px #aaa;  border-radius:2px; outline:none;

    
    &:hover    {border-color:#5897FB;}
    &.focused  {border-color:#3C80E6;}
	&.open     {border-color:#5897FB;}
    &.disabled {opacity:.5; border-color:#aaa; box-shadow:0 0 3px rgba(0,0,0,0);}

    cursor:default;
}



//Arrow
//------------------------------------------------------------------------------------------
.cs-select-arrow-wrap  
{
    width:18px; position:absolute; right:0; top:0; bottom:0;
    background: linear-gradient(#eee 0, #eee 40%, #CDCDCD 100%);
    border-left:solid 1px #aaa;
}
.disabled .cs-select-arrow-wrap {background:transparent;}

.cs-select-arrow
{
    width: 0; height: 0;
    border: 4px solid transparent;
    border-top-color:#808080;
    position:relative; top:9px; left:5px;
}



//Clear selection button
//------------------------------------------------------------------------------------------
.cs-select-clear
{
    box-sizing: border-box; 
    width:16px; height:16px; position:absolute; right:24px; top:3px;
    cursor:pointer;
    border:solid 1px transparent;
    font: 14px/11px Verdana, Arial; color:#777; text-align:center; text-indent:-1px;
    box-shadow:0 0 1px rgba(0,0,0,0) inset;

    &:hover  {border-color:rgba(0,0,0,.3); background:rgba(0,0,0,.05); color:#9c0000;} 
    &:active {border-color:rgba(0,0,0,.3); background:rgba(0,0,0,.1);   box-shadow:0 0 1px rgba(0,0,0,.3) inset;} 
}
.disabled .cs-select-clear {display:none}




//Content
//------------------------------------------------------------------------------------------
.cs-select-content 
{
    font: 12px/22px Arial; color:#444;
    white-space:nowrap;
    padding-left:4px;
}



