@import "_mixins.scss";


//Multi Select Control
//------------------------------------------------------------------------------------------
.cs-mselect
{
    overflow:auto;
    width:250px; height:24px;
    box-shadow:0 0 3px rgba(0,0,0,.3),
               0 0 10px rgba(0,0,0,.15) inset;
    border:solid 1px #aaa;  border-radius:2px; outline:none;
    

    position:relative; 
    display:inline-block;
    

    &:hover    {border-color:#5897FB;}
    &.focused  {border-color:#3C80E6;}
    &.open     {border-color:#5897FB;}
    &.disabled {background:transparent; opacity:.5; border-color:#aaa;}

    cursor:default;
}


.cs-mselect-items  //<ul> Holding the selected items
{
    margin: 0; padding: 0 0 0 1px; list-style: none;
}

.cs-mselect-item
{
    float:left;  padding:1px 1px 1px 3px; position:relative;
    background: linear-gradient(#FEFEFE 0, #FEFEFE 45%, #FEFEFE 45%, #DDD 100%);
    border:solid 1px #CCC; border-radius:2px;
    
    font: 12px/16px Arial; color:#444;
    margin:1px 2px 1px 0;
    white-space:nowrap;

    &:hover {
        border-color:#99C9FF; 
        background: linear-gradient(#FDFDFF 0, #FDFEFF 45%, #FDFEFF 45%, #C1CEFF 100%);
        color:#0342A1;
    }

}
.cs-mselect-item-content
{
    float:left;
}
.cs-mselect-item-x  //Remove button (x)
{
    box-sizing: border-box; 
    width:16px; height:16px;
    cursor:pointer;
    border:solid 1px transparent;

    font: 14px/11px Verdana, Arial; color:#777; text-align:center; text-indent:-1px;
    box-shadow:0 0 1px rgba(0,0,0,0) inset;

    &:hover  {border-color:#CCC; background:rgba(0,0,0,.02); color:#0342A1;} 
    &:active {border-color:rgba(0,0,0,.2); background:rgba(0,0,0,.07);  box-shadow:0 0 1px rgba(0,0,0,.2) inset; color:#02409C;} 
    float:right;  margin-left:3px;
}
.cs-mselect-item:hover .cs-mselect-item-x
{
    color:#1985FF;
}





//Vertical Styles
//-------------------------------------------------------------
.cs-mselect-vertical                  { height:150px; }
.cs-mselect-vertical .cs-mselect-item { margin-right:1px; float:none; clear:both; overflow:auto; border-radius:0;}
