@import "_mixins.scss";

//Calendar
//--------------------------------------------------------
.cs-cal
{
    position: absolute; z-index: 9999;
    font: 10px/10px "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
    box-shadow:0 2px 5px#000;
    background: #eee;
    border:none; border-radius:6px 6px 4px 4px;
    width:255px; padding: 0;
    
    cursor:default;
    @include user-select(none);
}



//Calendar header
//--------------------------------------------------------
.cs-cal-hdr
{
    position:relative; height:30px;
    border:none; border-radius:6px 6px 0 0;
    background: #63869F linear-gradient(rgba(0,0,0,.25) 0%, rgba(255,255,255,.25) 100%);
    text-align:center;
}


//Calendar title (inside header)
//--------------------------------------------------------
.cs-cal-title
{
    font: 700 13px/32px "DroidSans", sans-serif; color: #fff;
    text-shadow: 0 0 3px #000;
}


//Next/Prev buttons in header
//--------------------------------------------------------------------------------------
.cs-cal-prev, .cs-cal-next
{
    display:block;
    position: absolute; top:3px;
	width: 34px; height: 23px;

    padding:0;
    cursor: pointer;

    border:solid 1px rgba(0,0,0,0); border-radius:4px;
    box-shadow:0 0 1px rgba(0,0,0,0) inset;

    &:hover
    {
        border:solid 1px rgba(0,0,0,.15);
        box-shadow:0 0 1px rgba(255,255,255,.3) inset;
    }
    &:active
    {
        border:solid 1px rgba(255,255,255,.2);
		box-shadow:0 0 1px rgba(0,0,0,.6) inset;
		background:rgba(0,0,0,.2);
    }
}
.cs-cal-prev {left:  3px;}
.cs-cal-next {right: 3px;}



//Icons for next/prev buttons      http://apps.eky.hk/css-triangle-generator/
//--------------------------------------------------------------------------------------
.cs-cal-prev-ico, .cs-cal-next-ico
{
    display:block;
    width: 0; height: 0;
    position:absolute; top:8px; 
    border-style: solid;
    pointer-events:none;
}
.cs-cal-prev-ico
{
    border-width: 4px 8px 4px 0;
    border-color: transparent #FFF transparent transparent;
    left:12px;
}
.cs-cal-next-ico
{
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #FFF;
    left:15px;
}


//Calendar table
//--------------------------------------------------------
.cs-cal-tbl
{
    width:100%; border-collapse:collapse;
}

//Days of the week cells (1st row: <th> wrapping Su Mo Tu...)
//--------------------------------------------------------
.cs-cal-daycell
{
    padding:7px 3px;
    font-size: 10px; font-weight: normal; color: #6c7173; text-shadow: 0 1px 0 #FFF;
    text-align: center; vertical-align:middle;
    text-transform: uppercase;
    border-top:    1px solid #D0D6DB;
	border-bottom: 1px solid #D0D6DB;
    box-shadow: inset 0  2px 0 rgba(255,255,255,.7),    //Top
                inset 0 -1px 0 rgba(255,255,255,.38);  //Bottom
                
    background:linear-gradient(#EDF1F4, #DCDFE2);
}




//Days of the week labels (1st row: Su Mo Tu...)
//--------------------------------------------------------
//.cs-cal-daylbl {}



//Actual day cells on the calendar
//--------------------------------------------------------
.cs-cal-cell                     //Normal cell
{
    padding: 0;
    text-align: center; vertical-align:middle;
    border-top:   1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
    &:last-child {border-right:none;}
    cursor: pointer;
}
.cs-cal-cell.cs-cal-cell-blank   //Empty cell
{
    background: #eee;
    cursor: default;
}
.cs-cal-cell-content  //Content inside a cell
{
    padding:8px;
    border: 1px solid transparent;
    background: #f5f8fa;
    font-size: 12px; font-weight: bold; color: #6c7173;
    text-shadow: 0 1px 0 rgba(255,255,255,.55);

    &.cs-disabled {text-shadow: none; opacity: .8;}
    &.cs-today    {background:#F9F1FF; border-color:#E5BFFF; color:#444;} //Today's date cell content
}

.cs-cal-cell:hover  .cs-cal-cell-content   //Hover over a content cell
{
    border: 1px solid #282 !important;
	background: #a3d143 !important;
	color: #fff !important;
	text-shadow: 0 1px 2px #000;
}


.cs-cal-cell:active .cs-cal-cell-content, .cs-cal-cell.cs-active .cs-cal-cell-content  //Active content cell
{
    border: 1px solid #373D41;
    box-shadow: inset 0 0 4px rgba(0,0,0,.5);
    background: #76848E;
    color: #fff;
    text-shadow: 0 1px 2px #000;
}