@import "_mixins.scss";

//Drop Down List
//---------------------------------------------------------------------------------
.cs-ddl
{
    box-sizing:border-box;
	z-index:999;
    position: absolute;
    border:solid 1px #3C80E6;
    background:#FFF;
    padding:4px;
    color:#999;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow:hidden;
    @include user-select(none);
}

.cs-ddl-input
{
    box-sizing:border-box;
    padding:0 21px 0 4px !important;
    margin:0 !important;
    height:22px !important;
    background:transparent !important; 
    border:none !important; 
    resize:none !important; 
    outline:none !important;
    box-shadow:none !important;
    
    width:100%; float:none;
    font: 12px/12px Arial; color:#777;
}




.cs-ddl-input-wrap
{
    border:solid 1px #72B6ED; position:relative; margin-bottom:4px;
}

//Input icon
//---------------------------------------------------------------------
.cs-ddl-input-ico
{
    display:block; width:16px; height:16px; 
    position:absolute; right:5px; top:3px;
    cursor:text;
    color:#777;
}

//Search icon
//---------------------------------------------------------------------
.cs-ddl-input-ico:before, .cs-ddl-input-ico:after
{
    content:""; display:block; position:absolute;
}
.cs-ddl-input-ico:before              //Lens
{
    width:7px;
    height:7px;
    border:2px solid #888;  border-radius:12px;
}
.cs-ddl-input-ico:after               //Handle
{
    left:10px; top:50%;
    width:3px; height:7px;
    background:#888;

    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.cs-ddl-input-wrap.cs-busy .cs-ddl-input-ico {display:none;}


//Spinner (Replaces search icon when loading data)
//------------------------------------------------------------------
.cs-ddl-input-wrap.cs-busy:after  
{
    content:""; display:block; width:13px; height:13px; 
    position:absolute; right:5px; top:3px;
    cursor:text;

    border: solid 2px transparent; border-radius: 30px; border-top-color: rgba(0, 0, 0, .4); border-left-color: rgba(0, 0, 0, .4);
    @include animation(cs-ddl-spin, 1s, linear, infinite);
}




//Results
//---------------------------------------------------------------------------------
.cs-ddl-results {margin: 0; padding: 0; list-style: none; overflow:auto;}

.cs-ddl-result 
{
    box-sizing:border-box;
    &:hover
    {
        background:#F5F5F5; color:#666;
        cursor:pointer;
    }
}

.cs-ddl-result.cs-focus
{
    background:#3875D7;
    color:#fff;
}

.cs-ddl-result-content
{
    font: 14px/14px Arial;
    padding:4px;
}


.cs-ddl-result-highlight           { color:#000; }
.cs-focus .cs-ddl-result-highlight { color:#0F6; }


.cs-ddl-msg
{
    font: 11px/20px Verdana, Arial, sans-serif; color: #463804;
    cursor:default;
}




//Loading Animation
//---------------------------------------------------------------------------------
@-webkit-keyframes cs-ddl-spin
{
    0% { -webkit-transform: rotate(0deg);   }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes cs-ddl-spin
{
    0% { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}

